---

import Layout from '../layouts/Layout.astro'
import LinkButton from "../components/LinkButton.astro";
import Typography from "../components/Typography.astro";
import CompaniesIveWorkedWith from '../components/CompaniesIveWorkedWith.astro'

const yearsAsSoftwareEngineer = new Date().getFullYear() - 2016;
---

<Layout title="Caio Amaral">
  <main class="flex gap-2 flex-col mt-5">
    <section class="px-11 py-48 sm:h-[80vh] sm:max-h-[800px] md:h[60vh]">
      <Typography variant="h1"
        class="font-bold max-w-[70%] md:max-w-[90%] animate-slideUpFadeIn duration-1000 delay-1000">
        Engineer and designer using software to augment human abilities
      </Typography>
    </section>

    <section class="px-11 py-48 flex flex-col md:flex-row items-center gap-9">
      <div class="w-[100%] md:w-[160%] animate__animated animate__fadeInLeft">
        <img src="photos/profile.png" alt="image" style="max-width:100%;" />
      </div>

      <div class="animate__animated animate__fadeInRight">
        <Typography variant="body1" class="text-xl">
          For the last {yearsAsSoftwareEngineer} years, I have been using software
          to leverage people's productivity and creativity by analyzing and assessing
          opportunities. As a kid, I was always fascinated by how UIs and software
          could teach you how to do things without any prior knowledge. Ever since,
          I've decided to dedicate my career to
          <b> Human Computer Interaction</b>
          helping better integrate computers and humans, and hopefully sparking
          the same feeling I've got in newer generations. On my way I've also developed
          a passion for <b>Design</b>, <b>Productivity</b>, <b>History</b>
          and <a href="/posts"> many other topics</a>

          <br />
          <br />

          I really believe that good software it's good for <b>everyone</b> so
          focus on building <b>high-quality delightful</b> to use <b>accessible</b> applications that cohesively
          integrate
          with the user's workflow.
        </Typography>
      </div>
    </section>

    <CompaniesIveWorkedWith />
  </main>
</Layout>
