<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#000000" />
    <title>Tangent Lines</title>
  </head>

  <body>
    <navbar class="p-4 flex flex-row justify-between dark:bg-black">
      <a href="/">Tangent Lines</a>
      <ul class="flex flex-row gap-4">
        <li><a href="/blog">Blog</a></li>
        <li><a href="/podcasts">Podcasts</a></li>
        <li><a href="/talks">Talks</a></li>
        <li><a href="/projects">Projects</a></li>
        <li>
          <span class="search-icon flex flex-row gap-4"> 🔍</span>
        </li>
      </ul>
    </navbar>

    <main>
      <div
        class="h-[400px] m-8 rounded-xl bg-white/10 p-8 flex flex-row align-middle justify-center max-w-[900px]"
      >
        <div class="w-[60%]">
          <h1 class="text-5xl font-bold">Tangent Lines</h1>
          <p class="text-white/70">
            A blog about software engineering, design, and the intersection of
            the two.
          </p>
        </div>

        <div class="w-[30%]">
          <img
            src="https://github.com/caiobep.png"
            class="rounded-full w-48 h-48"
          />
        </div>
      </div>
    </main>

    <footer></footer>

    <style>
      @tailwind base;
      @tailwind components;
      @tailwind utilities;

      body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
      }

      @media (prefers-color-scheme: dark) {
        body {
          background-color: #000;
          color: #fff;
        }
      }
    </style>
  </body>
</html>
