---
export interface Props {
  icon: string
  id: string
}

const { icon, id } = Astro.props
---

<button id={id} class="chip rounded-xl bg-gray-100 text-black text-xs p-2 grayscale cursor-pointer hover:scale-110 transition-all">
  <i>{icon}</i>
  <slot />
</button>
