---
export interface Props {
  icon: string
  id: string
  href: string
  variant: 'primary' | 'secondary'
}

const { icon, id, href, variant } = Astro.props

const variantStyles =  {
  'primary': 'bg-gray-100 text-black',
  'secondary': 'bg-transparent text-black dark:text-white border border-2 border-gray-500'
}[variant || 'primary'] 
---

<button id={id} transition:name={id} class={`chip rounded-xl text-xs ml-1 p-2 grayscale cursor-pointer hover:scale-110 transition-all hover:grayscale-0  ${variantStyles}`}>
  <i>{icon}</i>
  <slot />
</button>
