---
import ImageLink from "./ImageLink.astro";
---

<div class="grayscale dark:invert flex flex-wrap justify-center gap-9 my-19 mx-28">
  <ImageLink href="https://www.bancobmg.com.br" src="photos/clients/bmg.webp" alt="bmg" />
  <ImageLink href="https://embraer.com" src="photos/clients/embraer.webp" alt="embraer" />
  <ImageLink href="https://www.itv.com" src="photos/clients/itv.webp" alt="itv" />
  <ImageLink href="https://www.lambda3.com.br" src="photos/clients/lambda3.webp" alt="lambda3" />
  <ImageLink  href="https://www.linkedin.com/company/resource-it-solutions/" src="photos/clients/resource.webp"
    alt="resource" />
  <ImageLink href="https://www.santander.com.br" src="photos/clients/santander.webp" alt="santander" />
  <ImageLink href="https://www.ticket.com.br" src="photos/clients/ticket.webp" alt="ticket" />
  <ImageLink href="https://tmamerica.com/" src="photos/clients/tokio-marine.webp" alt="tokio marine" />
  <ImageLink href="https://vigil.global" src="photos/clients/vigil.webp" alt="vigil" />
  <ImageLink href="https://xpinc.com" src="photos/clients/xpinc.webp" alt="xpinc" />
  <ImageLink href="https://xpi.com.br" src="photos/clients/xpprivate.webp" alt="xp private" />
  <ImageLink href="https://xpi.us" src="photos/clients/xpinvestments.webp" alt="xp securities" />
  <ImageLink href="https://findmypast.co.uk"
    src="photos/clients/findmypast.webp" alt="Find My Past" />
</div>
