---
export interface Props {
  title: string;
  href: string;
}

const { href, title } = Astro.props;
---

<a
  class="dark:text-white/90 hover:dark:text-white text-gray/60 inline-flex justify-center items-center text-md font-medium"
  href={href}
>
  <div
    class="hover:bg-black/5 hover:dark:bg-white/10 space-x-3 transition-all duration-300 inline-flex items-center justify-center py-2 px-3 rounded-xl"
  >
    <span>{title}</span>
  </div>
</a>
