---
import Layout from "./Layout.astro"
const { title, tags, date} = Astro.props
---

<Layout>
  <h1>{title}</h1>
  <p>{date}</p>
  <ul> {tags.map(tag => ( <li>{tag}</li>))}
  </ul>
  <slug/>
</Layout>
