html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  padding: 10px 20px;
}

a {
  color: inherit;
  text-decoration: none;
}

p, li {
  color: #9B9A97;
}

article {
  padding: 0 20px;
}

* {
  box-sizing: border-box;
}
